<a href="https://colab.research.google.com/github/julietgitonga/Assignment-1/blob/main/DATS122_Unit5_Assignment_Gitonga_Juliet_Nyawira.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TASK 1**

In [10]:
#LIST
scores = [70, 85, 60, 90]
print(scores[0])   # first element
print(scores[-1])  # last element
scores.append(95)
print(scores)
scores[1] = 88
print(scores)

70
90
[70, 85, 60, 90, 95]
[70, 88, 60, 90, 95]

In [11]:
#TUPLE
student = ("Alice", 20, "DATS 122")
print(student[0])
print(student[1])
name, age, course = student
print(name)
print(age)
print(course)

Alice
20
Alice
20
DATS 122

In [15]:
#DICTIONARIES
student = {
"name": "Alice",
"age": 20,
"course": "DATS 122"
}
#accessing values
print(student["name"])
#modifying
student["age"] = 21
student["grade"] = "A"
#looping through dictionaries
for key, value in student.items():
 print(key, ":", value)

Alice
name : Alice
age : 21
course : DATS 122
grade : A

In [19]:
#SET
subjects = {"Math", "Science", "Math", "English"}
print(subjects)
subjects.add("History")
print(subjects)
subjects.remove("Math")
print(subjects)

{'Math', 'Science', 'English'}
{'Math', 'Science', 'English', 'History'}
{'Science', 'English', 'History'}

In [20]:
# PRACTICAL 1: Student Records Using Lists and Tuples
students = [
("Alice", [70, 80, 90]),
("Brian", [60, 75, 85]),
("Cynthia", [88, 92, 95])
]
for student in students:
 name, marks = student
 average = sum(marks) / len(marks)
 print("Student:", name, "| Average Score:", average)

Student: Alice | Average Score: 80.0
Student: Brian | Average Score: 73.33333333333333
Student: Cynthia | Average Score: 91.66666666666667

In [21]:
# PRACTICAL 2: Dictionary-Based Student Summary
student_scores = {
     "Alice": [70, 80, 90],
    "Brian": [60, 75, 85],
    "Cynthia": [88, 92, 95]
}

summary = {}

for name, scores in student_scores.items():
    summary[name] = {
        "total": sum(scores),
        "average": sum(scores) / len(scores)
    }

for name, data in summary.items():
    print(name)
    print("  Total:", data["total"])
    print("  Average:", data["average"])

Alice
  Total: 240
  Average: 80.0
Brian
  Total: 220
  Average: 73.33333333333333
Cynthia
  Total: 275
  Average: 91.66666666666667

**TASK 2**


Q1:Explain the difference between a list and a tuple

Lists are ordered and mutable, while tuples are ordered but immutable. Lists allow modification, tuples prevent accidental changes.

Q2:When would you use a dictionary instead of a list?

When data has named attributes or requires fast lookups. Example: storing student records with keys like “name” and “grade.”

Q3:Why are sets useful in data science?

They remove duplicates automatically and allow fast membership testing, which is crucial in cleaning datasets.


Q4: What happens if you try to modify a tuple

Python raises a TypeError because tuples are immutable.


Q5:Choose the best data structure for each scenario:

Storing ordered exam scores - Lists

Storing fixed GPS coordinates - Tuples

Removing duplicate student IDs -Set

Storing student name → grade pairs - Dictionaries



**TASK 3**

In [25]:
#Activity1
students = [
    ("Alice", [70, 80, 90]),
    ("Brian", [60, 75, 85]),
    ("Cynthia", [88, 92, 95]),
    ("David", [75, 85, 80])
]

for student in students:
    name, marks = student
    total = sum(marks)
    average = total / len(marks)
    print("Student:", name)
    print(" Total:", total)
    print(" Average:", average)
    print()

Student: Alice
 Total: 240
 Average: 80.0

Student: Brian
 Total: 220
 Average: 73.33333333333333

Student: Cynthia
 Total: 275
 Average: 91.66666666666667

Student: David
 Total: 240
 Average: 80.0

In [28]:
#Activity2
student_scores = {
    "Alice": [70, 80, 90],
    "Brian": [60, 75, 85],
    "Cynthia": [88, 92, 95]
}

summary = {}

for name, scores in student_scores.items():
    summary[name] = {
        "total": sum(scores),
        "average": sum(scores) / len(scores),
        "max": max(scores)
    }

for name, data in summary.items():
    print(name)
    print(" Total:", data["total"])
    print(" Average:", data["average"])
    print(" Max:", data["max"])
    print()

Alice
 Total: 240
 Average: 80.0
 Max: 90

Brian
 Total: 220
 Average: 73.33333333333333
 Max: 85

Cynthia
 Total: 275
 Average: 91.66666666666667
 Max: 95

In [30]:
#Activity3
class_a = {"Alice", "Brian", "Cynthia"}
class_b = {"Brian", "David", "Emma"}

print("Students in both classes:", class_a & class_b)
print("Students only in class A:", class_a - class_b)
print("All unique students:", class_a | class_b)

Students in both classes: {'Brian'}
Students only in class A: {'Alice', 'Cynthia'}
All unique students: {'Alice', 'Emma', 'Cynthia', 'Brian', 'David'}